nav {
    .navbar-brand {
      color: $white-color !important;
      span:last-child {
        color: $second-color;
      }
    }
    .logo{
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    li.nav-item {
      padding: 10px;
      font-weight: bold;
      font-size: 18px;
    }
    a.nav-link {
      padding: 0;
      color: $white-color !important;
      text-transform: capitalize;
      transition: all 0.3s linear;
      &:hover {
        color: $second-color !important;
      }
    }
    .active {
      a {
        color: $second-color !important;
      }
    }
  }