/* utilities */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Raleway;
}

.contacts .title {
  font-family: sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #444649;
  font-weight: bold;
}

.line {
  display: inline-block;
  text-align: center;
  background: #444649;
  height: 4px;
  margin-bottom: 4%;
  width: 70px;
}

header, footer .icon-wrap, footer .icon-wrap .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .btn, .projects .btn, .contacts form .btn {
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 20px;
  padding: 12px;
  background: #D84780;
  border: #D84780;
  cursor: pointer;
}

header .btn:hover, .projects .btn:hover, .contacts form .btn:hover {
  cursor: pointer;
  color: #fff;
  background: transparent;
  border: #fff 1px solid;
}

button {
  cursor: pointer;
}

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* Start NavBar */
nav .navbar-brand {
  color: #fff !important;
}

nav .navbar-brand span:last-child {
  color: #e31b6d;
}

nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav li.nav-item {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

nav a.nav-link {
  padding: 0;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav a.nav-link:hover {
  color: #e31b6d !important;
}

nav .active a {
  color: #e31b6d !important;
}

/* End NavBar */
/* start header */
header {
  background: url(../images/bg.jpg);
  height: calc(100vh);
  text-align: center;
}

header .title {
  color: #fff;
  font-size: 30px;
}

/* End header */
/* start projects */
.projects {
  padding-top: 50px;
  background: #f8f9fa;
}

.projects .card {
  width: 350px;
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.projects .card:hover, .projects .card.hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.projects .card:hover .card-content, .projects .card.hover .card-content {
  -webkit-box-shadow: inset 0 3px 0 0 #D84780;
          box-shadow: inset 0 3px 0 0 #D84780;
  border-color: #D84780;
}

.projects .card:hover .card-img .overlay, .projects .card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, 0.85);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 1;
}

.projects .card-img {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects .card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.projects .card-img .overlay .overlay-content {
  line-height: 300px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.projects .card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid #D84780;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.projects .card-img .overlay .overlay-content a:hover, .projects .card-img .overlay .overlay-content a.hover {
  background: #D84780;
  border-color: #D84780;
}

.projects .card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  border-top: 1px solid #f8f9fa;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem 2rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.projects .card-content a {
  text-decoration: none;
  color: #444649;
}

.projects .card-content h2, .projects .card-content a h2 {
  font-size: 1rem;
  font-weight: 500;
}

.projects .card-content p, .projects .card-content .contacts .text-muted, .contacts .projects .card-content .text-muted, .projects .card-content a p, .projects .card-content a .contacts .text-muted, .contacts .projects .card-content a .text-muted {
  font-size: .8rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444649;
}

.projects .btn {
  text-transform: capitalize;
}

.projects .btn:hover {
  cursor: pointer;
  color: #D84780;
  border: #D84780 1px solid;
}

/* End projects */
/* start contacts */
.contacts {
  position: relative;
  background: #252934;
  padding-top: 50px;
}

.contacts .title {
  color: #fff;
}

.contacts .text-muted {
  color: #e31b6d !important;
}

.contacts form {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

.contacts form .form-group {
  margin-bottom: 5px;
}

.contacts form .form-group input, .contacts form .form-group textarea {
  background: #1E242C;
  outline: 0;
  border: 0;
  border-radius: 0;
}

.contacts form .btn {
  margin: 5px 0 10px 0;
}

/* End contacts */
/* start footer */
footer {
  text-align: center;
  background: #1b242f;
  position: relative;
  margin: 0;
}

footer .icon-wrap {
  padding: 20px 0;
}

footer .icon-wrap .icon {
  color: #fff;
  background: #262f38;
  cursor: pointer;
  font-size: 18pt;
  height: 55px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  width: 55px;
}

footer .icon-wrap .icon:hover .fab {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}

footer .icon-wrap .icon:hover {
  background: #04c2c9;
  -webkit-box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
          box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer .icon-wrap .fas.fa-codepen {
  font-size: 20pt;
}

footer .footnote {
  font-size: 18px;
  color: #8f9aa7;
  padding-top: 35px;
  opacity: 0.6;
}

footer .footnote .highlight {
  color: #e31b6d;
  font-family: "Open Sans";
}

/* End footer */
/*# sourceMappingURL=style.css.map */